body {
    text-align: center;
    font-family: Roboto ,sans-serif;
}
h1 {
    font-weight: bolder;
}
h2 {
    padding: 30px;
    text-align: center;
}
a {
    text-decoration: :none;
    color: white;
}

ul {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;
    padding: 10px;
}

nav {
    color: white;
    display: flex;
    justify-content: auto;
    width: 100%;
}

header {
    display: block;
    text-align: center;
    color: white;
    padding: 150px 50px;
}

.main {
    background: url(../images/fondo.svg) no-repeat bottom;
}

p .datos {
    text-align: center;
    padding-top: 30px;
}

.quote {
    padding: 50px 30px;
}
.preguntas {
    padding: 100px;
    text-align: left;
}
img {
    width: 100%;
}
.foto {
    box-shadow: 10px 20px 20px grey;
}
.datos {
    background: url(../images/fondo.svg) repeat cover;
}

i {
    position: fixed;
    bottom: 30px;
    left: 30px;
    font-size: 2em;
}
.button {
    border-style: solid;
    border-radius: 3%;
    border-width: thin;
    padding: 10px 20px;
    text-align: center;
}

.gris {
    background-color: rgb(243, 243, 243);
    padding: 10px 55px;
    text-align: left;
}


a:hover {
    background-color: white;
    text-decoration: none;
    color: black;
    box-shadow: 10px 20px 20px grey;
    .button {

    }
}

.caja {
    display: block;
}

a .caja {
    color: black;
}
.dos-cajas {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}


